*{
  background:white;
}
.homesection {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Search bar */
.searchcontainer {
  margin-bottom: 40px;
}

.searchcontainer input {
  width: 350px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #d8b4fe;
  font-size: 14px;
  outline: none;
}

/* Cards container */
.grid {
  width: 100%;
  max-width: 1100px;   /* controls layout width */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;           /* REAL gap between cards */
}

@media screen and (max-width: 767px) {

  .homesection {
    padding: 20px 10px;
    align-items: stretch;
  }

  .searchcontainer input {
    width: 70%;
    font-size: 13px;
  }

  .grid {
    gap: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .searchcontainer input {
    width: 280px;
  }

  .grid {
    gap: 30px;
  }

}
