.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 80px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}
.links {
    list-style: none;
}

.links ul  {
    display: flex;
    gap: 5px;
    align-items: center;
}

.links a {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 6px;
    color: #6a0dad;
    text-decoration: none;
    transition: 0.3s ease;
}

.links a:hover {
    border: 1px solid #6a0dad;
    color: #c084fc;
}

button {
    padding: 6px 14px;
    background: white;
    color: #6a0dad;
    cursor: pointer;
}

button:hover {
    background: #f3e8ff;
    border: 1px solid #6a0dad;
    color: #c084fc;
    border-radius: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #6a0dad;
}


.close {
    display: none;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 999;
}

@media screen and (max-width: 767px) {

    .navbar {
        padding: 14px 20px;
    }

    .hamburger {
        display: flex;
    }

    .links {
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100vh;
        background: white;
        padding-top: 60px;
        transition: 0.4s;
        z-index: 10000;
    }

    .links ul {
        flex-direction: column;
        gap: 0;
    }

    .links ul li {
        width: 100%;
        
    }

    .links ul li a,
    .links ul li button {
        display: block;
        width: 100%;
        padding: 18px;
        text-align: left;
    }

    .active {
        left: 0;
    }

    .close {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}


/*  
TABLET (768 - 1023px) 
 */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .navbar {
        padding: 14px 40px;
    }

    .hamburger {
        display: flex;
    }

    .links {
        position: fixed;
        top: 0;
        left: -270px;
        width: 260px;
        height: 100vh;
        background: white;
        padding-top: 60px;
        transition: 0.4s;
        z-index: 1000;
    }

    .links ul {
        flex-direction: column;
        gap: 0;
    }

    .links ul li a,
    .links ul li button {
        display: block;
        padding: 10px;
    }

    .active {
        left: 0;
    }

    .close {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}
